.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 8rem;
}
.box {
  background: #00000087;
  /* opacity: 0.5; */
  /* padding-left: 6rem; */
  text-align: center;
  padding: 4rem;
  margin-left: 8rem;
}

.input6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

.input6 input {
  padding: 10px;
  background: white;
  border: white;
  /* padding-right: 24px; */
  /* margin-right: 12px; */
  margin-bottom: 1rem;
}
.footer {
  background: #e4ded3;
  text-align: center;
  padding: 1rem 0;
  opacity: 1.5;
}

.footer p {
  font-size: 22px;
}

.footer h2 {
  font-size: 40px;
}

.enquiry{
  text-align: center;
    font-family: "Oswald", sans-serif;
    color: #e5b650;
    padding: 20px 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 37px;
    font-family: cursive;
    font-style: italic;
}
.location{
  text-align: center;
  color: #040404;
  padding: -3px 0;
  width: 100%;
  max-width: 305px;
  margin: 0 auto;
  font-size: 31px;
  font-family: cursive;
  font-style: italic;
  margin-left: 13rem;
  background: #d5d1c9;
}

